.titulo{
    font: 800;
    color: white;
 text-align: center;
    
}
.fondo{
    
    background: #d14f13
    
}
.imagen{
 float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.imagen2{
    float: right;
     margin-left: 20px;
    
   }
.caja1{
 Color: rgb(223, 104, 57);
  width: 76%;
}

.caja2{
    color: rgb(28, 119, 255);   
    width: 76%;
   
}
.caja3{
    color: black;  
    width: 98%; 
}
.fondotxt1{
    
    background: rgb(50, 115, 212);
    width: 76%;
    border: 5px solid orange;
    margin: 6px;
    padding: 8px;
    text-align: justify;
}
.fondotxt2{
    background:     rgb(224, 92, 39);
    width: 76%;
    border: 5px solid grey;
    margin: 6px;
    padding: 8px;
    text-align: justify;
}
.justificar{
    text-align: justify;
}

.fondotxt3{
    
    background: rgb(243, 91, 31);
    width: 100;
    border: 5px solid grey;
}
.fondotxt4{
    
    background:rgb(50, 115, 212);
    width: 100;
    border: 5px solid grey;
}
.lectura1{
    background:     rgb(101, 136, 201);
    width: 98%;
    border: 3px solid orangered;
    margin: 6px;
    padding: 8px;
    text-align: justify;
}
.lectura2{
    background:     rgb(253, 158, 68);
    width: 98%;
    border: 3px solid blue;
    margin: 6px;
    padding: 8px;
    text-align: justify;
}
.titulo2{
    
    background: rgb(235, 78, 21);
    text-align: center;
    width: 100%;
}
.fondoweb{
    background-color: #f1e7e796;
    border: 0.1px solid #e7dfdf96;
}
.tamañotxt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}
.tamañotxt2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}
.tamañotit{
    font-size: 150%;
}
.widgett{
    float: right;
}

/* Aqui inicia estilos para la barra de menu */

#header {
    padding:18px;
    margin:auto;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav > li {
    float:left;
   }
   
   .nav li a {
    background-color: rgb(50, 115, 212);
    color:#fff;
    text-decoration:none;
    padding:15px 20px;
    display:block;
   }
   
   .nav li a:hover {
    background-color:#434343;
   }
   
   .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav li:hover > ul {
    display:block;
   }
   
   .nav li ul li {
    position:relative;
   }
   
   .nav li ul li ul {
    right:-140px;
    top:0px;
   }